name: CI

on:
  push:
    branches: [main, dev]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.gitignore'
      - 'LICENSE'
  pull_request:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '.gitignore'
      - 'LICENSE'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install linters
        run: pip install black==24.10.0 isort==5.12.0 flake8==6.1 ruff==0.3.4
      - name: Run Black
        run: black --check eyefeatures
      - name: Run isort
        run: isort --check-only eyefeatures
      - name: Run flake8
        run: flake8 eyefeatures --max-line-length=88 --extend-ignore=E501,E203,W503
      - name: Run ruff
        run: ruff check eyefeatures

  tests:  # Tests that use synthetic data only.
    name: Library Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        run: pip install poetry
      - name: Install dependencies
        run: poetry install --with test,deep
      - name: Run tests
        run: poetry run pytest --cov=eyefeatures --cov-report=xml --cov-report=term-missing --cov-fail-under=80
